<?xml version="1.0" encoding="UTF-8" ?>
<!--MyBatis配置文件-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jackie.blog.article.dao.CommentServiceMapper">
    <resultMap id="commentMap" type="com.jackie.blog.article.dto.CommentNodeDTO">
        <id column="id" property="id" />
        <result column="article_id" property="articleId"/>
        <result column="user_id" property="userId"/>
        <result column="content" property="content"/>
        <result column="create_date" property="createDate"/>
        <result column="update_date" property="updateDate"/>
        <result column="depth" property="depth"/>
        <result column="tree_root" property="treeRoot"/>
    </resultMap>
    <select id="listCommentByArticle" resultMap="commentMap">
        SELECT c.*,cr.depth, cr.ancestor AS tree_root FROM jw_comment c
            JOIN jw_comment_relations cr ON c.id = cr.descendant WHERE c.article_id = #{articleId}
            ORDER BY cr.depth, c.create_date

    </select>

    <insert id="pushCommentByArticle" parameterType="com.jackie.blog.article.entity.Comment" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO jw_comment(content, create_date, article_id, user_id, update_date) VALUES (#{content},#{createDate},#{articleId},#{userId},#{updateDate})

    </insert>

    <insert id="pushCommentRelation" parameterType="com.jackie.blog.article.entity.CommentRelation">
        INSERT INTO jw_comment_relations(ancestor,descendant,depth) VALUES (#{ancestor},#{descendant},#{depth})

    </insert>

</mapper>