<?xml version="1.0" encoding="UTF-8" ?>
<!--MyBatis配置文件-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jackie.blog.article.dao.MenuServiceMapper">

    <resultMap id="Menu" type="com.jackie.blog.article.entity.Menu">
        <id column="id" property="id" />
        <result column="name" property="name"/>
        <result column="amount" property="amount"/>
    </resultMap>

    <resultMap id="AllMenuDTO" type="com.jackie.blog.article.dto.MenuDTO">
        <result column="menuId" property="menuId" />
        <result column="menuName" property="menuName"/>
        <result column="menuAmount" property="menuAmount"/>
        <result column="menuIcon" property="menuIcon"/>
        <result column="categoryId" property="categoryId" />
        <result column="categoryName" property="categoryName"/>
        <result column="categoryAmount" property="categoryAmount"/>
        <result column="categoryIcon" property="categoryIcon"/>
        <result column="categoryDetailsId" property="categoryDetailsId" />
        <result column="categoryDetailsName" property="categoryDetailsName"/>
        <result column="categoryDetailsAmount" property="categoryDetailsAmount"/>
        <result column="categoryDetailsIcon" property="categoryDetailsIcon"/>

    </resultMap>


    <resultMap id="MenuByIdVo" type="com.jackie.blog.article.dto.MenuDTO">
        <result column="categoryId" property="categoryId" />
        <result column="categoryName" property="categoryName"/>
        <result column="categoryAmount" property="categoryAmount"/>
        <result column="categoryIcon" property="categoryIcon"/>
        <result column="categoryDetailsId" property="categoryDetailsId" />
        <result column="categoryDetailsName" property="categoryDetailsName"/>
        <result column="categoryDetailsAmount" property="categoryDetailsAmount"/>
        <result column="categoryDetailsIcon" property="categoryDetailsIcon"/>

    </resultMap>


    <select id="listMenu" resultMap="AllMenuDTO">
        select jw_menu.id as menuId, jw_menu.name as menuName, jw_menu.amount as menuAmount, jw_menu.icon as menuIcon, jw_category.id as categoryId, jw_category.`name` as categoryName, jw_category.amount as categoryAmount, jw_category.icon as categoryIcon, jw_category_details.id as categoryDetailsId, jw_category_details.name as categoryDetailsName, jw_category_details.amount as categoryDetailsAmount, jw_category_details.icon as categoryDetailsIcon from jw_menu LEFT JOIN jw_category on jw_menu.id = jw_category.menu_id LEFT JOIN jw_category_details on jw_category.id = jw_category_details.category_id
    </select>


    <select id="listAllCategoryByMenuId" resultMap="MenuByIdVo">
        SELECT jc.id as categoryId, jc.name as categoryName, jc.amount as categoryAmount, jcd.id as categoryDetailsId, jcd.name as categoryDetailsName, jcd.amount as categoryDetailsAmount
        FROM `jw_category` jc left join jw_category_details jcd on jc.id = jcd.category_id where jc.menu_id = #{id} ORDER BY jc.name, jcd.`name`
    </select>
</mapper>